@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

/* CSS for base elements, headings and paragraphs. */

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  font-kerning: auto;
}

html {
  overflow-y: scroll;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #161617;
  scrollbar-color: #373737 #161617;
}

video {
  margin-top: 15px;
  margin-bottom: 15px;
}

hr {
  border: none;
  border-top: 1px double #ffffff;
  color: #ffffff;
  overflow: visible;
  text-align: center;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #ffffff;
  font-weight: 300;
  font-size: 60px;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 1px #ffffff;
  opacity: 95%;
  scroll-margin-top: 100px;
  scroll-snap-margin-top: 100px;
  padding-bottom: 0.1em;
  border-bottom: 1px solid #373737;
}

h2 {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 0.1em;
  opacity: 85%;
  scroll-margin-top: 100px;
  scroll-snap-margin-top: 100px;
  padding-bottom: 0.1em;
  border-bottom: 1px solid #373737;
  margin-right: 15px;
  width: fit-content;
  margin-top: 0%;
  margin-bottom: 0%;
}

h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
  opacity: 85%;
  margin-right: 15px;
  scroll-margin-top: 100px;
  scroll-snap-margin-top: 100px;
  width: fit-content;
  margin-top: 0%;
  margin-bottom: 0%;
}

h3 {
  text-indent: 4ch;
}

h3::before {
  display: inline-block;
  content: "";
  border: 0.375rem;
  height: 0.75rem;
  width: 0.75rem;
  margin-right: 0.5rem;
  background-color: #ffffff;
  opacity: 85%;
  margin-bottom: 0.2rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}

h4,
h5,
h6 {
  text-decoration: underline;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  max-width: 90ch;
  text-indent: 2ch;
  letter-spacing: 0.03em;
  opacity: 75%;
}

a:link {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

a:hover {
  background: #373737;
  filter: brightness(1.25);
  -webkit-filter: brightness(1.25);
}

a:active {
  color: #ffffff;
}

.spoiler {
  color: #ffffff;
  background-color: #ffffff;
  opacity: 85%;
  cursor: pointer;
  transition-timing-function: ease-out;
  transition: background 0.35s;
  -webkit-transition: background 0.35s;
  -moz-transition: background 0.35s;
  -ms-transition: background 0.35s;
  -o-transition: background 0.35s;
}

.green {
  color: #3ecc40;
}

.red {
  color: #ff4136;
}

.orange {
  color: #ff851b;
}

.yellow {
  color: #ffdc00;
}

.purple {
  color: #b10dc9;
}

.blue {
  color: #0074d9;
}

.illuminating {
  color: #f8d948;
}

.classblue {
  color: #0f4c81;
}

.livcoral {
  color: #fa7268;
}

@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format("woff2");
  font-display: swap;
}
