@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

/* CSS for content items. */

#content {
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 300px;
  padding-right: 300px;
  margin: 0 auto;
}

.content__h2 {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content__h3 {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.content__h4 {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #232323;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.content__collapse {
  border: none !important;
  border-width: 0px;
  border-color: #161617;
  background-color: transparent;
  cursor: pointer;
  z-index: 7;
  opacity: 70;
  outline: none;
  position: absolute;
  right: 1%;
}

.content__figure {
  position: relative;
  max-width: 90%;
  display: inline-block;
}

#footer-container {
  display: inline-block;
  box-sizing: border-box;
  bottom: 5%;
  padding-top: 1%;
  background-color: #161617;
  width: 100%;
  padding-left: 180px;
  padding-right: 180px;
  padding-bottom: 2px;
  margin: 0 auto;
  white-space: nowrap;
  z-index: 9;
}

#footer-container__reference {
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  display: inline-flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

#footer-container__reference p {
  text-indent: 0ch;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 49px;
}

#footer-container__text {
  max-height: 20px;
  opacity: 0.6;
}

#footer-container__help {
  float: right;
  padding-top: 10px;
  vertical-align: middle;
  padding-bottom: 10px;
}

.footer-container__help--links {
  text-transform: uppercase;
  cursor: pointer;
}

#section-container {
  display: inline-block;
  box-sizing: border-box;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0%;
  padding-top: 1%;
  max-height: 100px;
  background-color: #161617;
  width: 100%;
  padding-left: 180px;
  padding-right: 180px;
  padding-bottom: 2px;
  margin: 0 auto;
  white-space: nowrap;
  z-index: 9;
}

#section-container::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  bottom: -5px;
  margin-left: -180px;
  z-index: 1;
  background-image: linear-gradient(to top, transparent, #161617 50%);
}

#section-container__text {
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 16px;
  opacity: 100% !important;
}

.tagging {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  align-items: center;
  flex-flow: row wrap;
}

.tagging::before,
.container::after {
  content: "";
  width: 100%;
  order: 1;
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  #content {
    padding-left: 30px;
    padding-right: 30px;
  }
  #section-container {
    padding-left: 18px;
    padding-right: 18px;
  }
  #footer-container {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media screen and (orientation: portrait) {
  #content {
    padding-left: 30px;
    padding-right: 30px;
  }
  #section-container {
    padding-left: 18px;
    padding-right: 18px;
  }
  #footer-container {
    padding-left: 18px;
    padding-right: 18px;
  }
}
