@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

/* CSS for the nav-bar. */

#nav-bar {
  box-sizing: border-box;
  top: 0;
  height: 180px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 62.5px;
  margin: 0 auto;
  white-space: nowrap;
  text-align: center;
}

#nav-bar__title {
  position: relative;
  text-decoration: none !important;
  text-align: center;
  border-radius: 25px;
  white-space: nowrap;
  float: left;
  max-height: 55px;
  width: 15%;
  cursor: pointer;
  padding-top: 20px;
  margin-left: 40px;
  display: flex;
}

#nav-bar__title__logo {
  display: inline-block;
  box-sizing: border-box;

  max-height: 40px;
  opacity: 0.9;
  filter: brightness(2.5);
  transform: rotate(0deg);
  vertical-align: middle;
  z-index: 2;
}

#nav-bar__title__text {
  max-height: 45px;
  vertical-align: middle;
  opacity: 0.7;
  padding-left: 20px;
}

.nav-bar__helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* Style the tab */
#nav-bar__tab-bar {
  width: 100%;
  overflow-x: scroll;
  overflow-y: visible;
  padding-top: 100px;
  margin-top: -100px;
  padding-bottom: 10px;
  white-space: nowrap;
}

#nav-bar__tab-bar--transparency {
  width: 40%;
  position: relative;
  display: inline-block;
}

#nav-bar__tab-bar--transparency::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 4%;
  right: 0%;
  top: 0%;
  z-index: 1;
  background-image: linear-gradient(to right, transparent, #161617 30%);
  /* 161617 */
}

#nav-bar__tab-bar--transparency::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 4%;
  left: 0%;
  top: 0%;
  z-index: 1;
  background-image: linear-gradient(to left, transparent, #161617 30%);
}

/* Style the buttons that are used to open the tab content */
.nav-bar__tab-bar--links {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.8;
  height: 65px;
  margin-left: 6px;
  margin-right: 6px;
}

/* Change background color of buttons on hover */
.nav-bar__tab-bar--links:hover {
  opacity: 1;
}

/* Create an active/current tablink class */
.nav-bar__tab-bar--links.active {
  opacity: 0.4;
}

.nav-bar__tab-bar--content {
  animation: nav-bar__tab-bar--content--fade 1s;
  -webkit-animation: nav-bar__tab-bar--content--fade 1s;
}

/* Go from zero to full opacity */
@keyframes nav-bar__tab-bar--content--fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#nav-bar__tooltip {
  position: fixed;
  background: #373737;
  font-size: 15px;
  border-radius: 6px;
  padding: 5px 5px;
  color: #ffffff;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  z-index: 13;
}

/* Search styles */

#nav-bar__search {
  position: relative;
  height: 44px;
  overflow: visible;
  z-index: 12;
  display: flex;
  flex-direction: column;

  float: right;
  width: 20%;
  vertical-align: middle;
  margin-left: 30px;
  margin-right: 40px;
  margin-top: 15px;
}

#nav-bar__search a {
  font-family: "Montserrat", sans-serif;
  position: relative;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  background: #222222;
  padding-left: 20px;
  text-align: left;

  cursor: pointer;
  padding: 12px 26px;
  text-decoration: none;
  display: none;

  /* the golden duo for text limitation */
  text-overflow: ellipsis;
  overflow: clip;
}

#nav-bar__search--input {
  box-sizing: border-box;
  padding-left: 46px;
  border: none !important;
  border-width: 0px;
  border-color: #161617;
  background: #373737;
  min-height: 44px;
  padding-top: 2px;
  padding-bottom: 2px;
  vertical-align: middle;
  outline: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  opacity: 90%;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

#nav-bar__search--input:focus {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#nav-bar__search--icon {
  position: absolute;
  width: 36px;
  left: 4px;
  top: 4px;
  z-index: 1;
}


@media screen and (min-width: 0px) and (max-width: 1000px) {
  #nav-bar__tab-bar--transparency { display: none;}
  #nav-bar__search { width: 50%;}
}