@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

/* CSS for scroll items. */

.material-icons * {
  border: none !important;
  border-width: 0px;
  border-color: #161617;
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
  border: none;
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.material-icons.md-36 {
  font-size: 36px;
  border: none;
}

#scroll__button--to-top {
  border: none !important;
  border-width: 0px;
  border-color: #161617;
  background-color: inherit;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  opacity: 0;
  outline: none;
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transition: all 0.5s ease;
}

.scroll__button--to-top--show {
  opacity: 100 !important;
  transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  -moz-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -o-transform: translateY(0) !important;
}
