/* CSS for other elements such as lists, quotes, code blocks... */

input {
  display: inline-grid;
  border-radius: 0.25em;
  border: 0.1em solid currentColor;
}

li,
ul {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  max-width: 90ch;
  letter-spacing: 0.03em;
  opacity: 90%;
}

blockquote {
  padding-left: 4ch;
  border-left: 10px solid #373737;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}

code {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-left: 6ch;
  font-size: inherit;
  background: #373737;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem 0.2rem;
  border-radius: 0.2rem;
}

table {
  border-collapse: collapse;

  margin-left: auto;
  margin-right: auto;

  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.03em;
  opacity: 97.5%;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: #373737;
  text-align: left;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr:nth-of-type(even) {
  background-color: #373737;
}

.katex * {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.03em;
  opacity: 97.5%;
}
