/* CSS for the nav-bar. */

#nav-bar {
  box-sizing: border-box;
  top: 0;
  height: 150px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
  white-space: nowrap;
  text-align: center;
  display: flex;
  flex-direction: row;

  vertical-align: middle;
  align-items: center;
  flex-flow: row nowrap;
}

#nav-bar__title {
  position: relative;
  text-decoration: none !important;
  text-align: center;
  white-space: nowrap;
  float: left;
  max-height: 55px;
  cursor: pointer;
  display: flex;
}

#nav-bar__title__logo {
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  width: 35px;
  opacity: 0.9;
  transform: rotate(0deg);
  vertical-align: middle;
  z-index: 2;
  margin-top: 2px;
  filter: invert(10%) sepia(7%) saturate(657%) hue-rotate(202deg) brightness(102%) contrast(90%);
  -webkit-filter: invert(10%) sepia(7%) saturate(657%) hue-rotate(202deg) brightness(102%) contrast(90%);
}

#nav-bar__title__text {
  height: 44px;
  width: 135px;
  vertical-align: middle;
  opacity: 72%;
  padding-left: 20px;
}

.nav-bar__helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 80%;
}

.nav-bar__tab-bar--content {
  animation: nav-bar__tab-bar--content--fade 1s;
  -webkit-animation: nav-bar__tab-bar--content--fade 1s;
}

/* Go from zero to full opacity */
@keyframes nav-bar__tab-bar--content--fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* While this is in the navbar file, it's applies globally to all tooltips */
#nav-bar__tooltip {
  position: fixed;
  background: #252529;
  font-size: 15px;
  border-radius: 6px;
  padding: 5px 5px;
  color: #ffffff;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  opacity: 0.85;
  z-index: 13;
}

/* Search styles */

#nav-bar__games,
#nav-bar__search {
  position: relative;
  height: 44px;
  overflow: visible;
  z-index: 120;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-right: 2%;

  float: right;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}

#nav-bar__games .material-symbols-rounded {
  font-size: 44px;
}

#nav-bar__search .material-symbols-rounded {
  font-size: 44px;
}

/* override to hug right nav-bar limit */

#nav-bar__games {
  margin-right: 0%;
}

#nav-bar__searchbox, #nav-bar__gamesbox {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
  overflow: clip;
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  background-color: #1c1c1efe;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  z-index: 22;
  width: 200px;
  top: -3px;
  /* TODO moved due to search, if removing search from games put 0 here */
  right: -9px;
  opacity: 0;
  /*transition:opacity 0.35s ease-out;
  -webkit-transition:w 0.35s ease-out;
  -moz-transition:w 0.35s ease-out;
  -ms-transition:w 0.35s ease-out;
  -o-transition:w 0.35s ease-out;*/
  filter: drop-shadow(0 6px 6px rgba(0,0,0,0.2));
  -webkit-filter: drop-shadow(0 6px 6px rgba(0,0,0,0.2));
}

#nav-bar__gamesbox {
  max-height: 250px;
  overflow-y: scroll;
}

/* Required so elements don't shrink */
#nav-bar__gamesbox > * {
  flex-shrink: 0;
}

#nav-bar__searchbox.fadein {
  animation: fadein-show 0.15s 1 linear forwards;
  -webkit-animation: fadein-show 0.15s 1 linear forwards;
}

#nav-bar__searchbox.fadeout {
  animation: fadeout-hide 0.15s 1 linear forwards;
  -webkit-animation: fadeout-hide 0.15s 1 linear forwards;
}

#nav-bar__gamesbox.fadein {
  animation: fadein-show 0.15s 1 linear forwards;
  -webkit-animation: fadein-show 0.15s 1 linear forwards;
}

#nav-bar__gamesbox.fadeout {
  animation: fadeout-hide 0.15s 1 linear forwards;
  -webkit-animation: fadeout-hide 0.15s 1 linear forwards;
}

.logo-fadein {
  animation: logo-fadein 0.15s 1 ease-out forwards;
  -webkit-animation: logo-fadein 0.15s 1 ease-out forwards;
}

.logo-fadeout {
  animation: logo-fadeout 0.15s 1 ease-in forwards;
  -webkit-animation: logo-fadeout 0.15s 1 ease-in forwards;
}

@keyframes fadein-show {
  from  {opacity: 0;}
  to    {opacity: 1;}
}

@keyframes fadeout-hide {
  from  {opacity: 1;}
  to    {opacity: 0; width: 0;}
}


@keyframes logo-fadein {
  from  {opacity: 0.6;}
  to    {opacity: 0.8;}
}

@keyframes logo-fadeout {
  from  {opacity: 0.8;}
  to    {opacity: 0.6;}
}


#nav-bar__search--input, #nav-bar__games--input {
  border: none !important;
  border-width: 0px;
  height: 44px;
  margin-top: 3px;
  padding-bottom: 2px;
  padding-left: 20px;
  text-overflow: ellipsis;
  background-color: #1c1c1efe;
  width: 65%;
  vertical-align: middle;
  outline: none;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  opacity: 90%;
}

#nav-bar__search--hr, #nav-bar__games--hr {
  border: none;
  border-top-width: medium;
  border-top-style: none;
  border-top-color: currentcolor;
  border-top: 1px double #ffffff;
  color: #fff;
  text-align: center;
  width: 90%;
  opacity: 50%;
  height: auto;
  cursor: default;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#nav-bar__search a, #nav-bar__search--results {
  font-family: "Montserrat", sans-serif;
  position: relative;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  background: #1c1c1efe;
  padding-left: 20px;
  text-align: left;

  cursor: pointer;
  padding: 12px 26px;
  text-decoration: none;
  display: none;

  /* the golden duo for text limitation */
  text-overflow: ellipsis;
  overflow: clip;
}

.nav-bar__search--image {
  height: 60px;
  aspect-ratio: 1/1;
}

.nav-bar__games--divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.nav-bar__games--divider hr {
  display: inline-block;
  width: 50px;
  border: none;
  border-top: 1px solid #fff;
  vertical-align: bottom;
  opacity: 50%;
}

.nav-bar__games--divider span {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}


#nav-bar__games a {
  font-family: "Montserrat", sans-serif;
  position: relative;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  background: #1c1c1efe;
  padding-left: 20px;
  text-align: left;

  cursor: pointer;
  padding: 12px 26px;
  text-decoration: none;
  /*display: none;*/

  /* the golden duo for text limitation */
  text-overflow: ellipsis;
  overflow: clip;
}


#nav-bar__search--input:focus {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
