/* CSS for the nav-bar. */

#nav-bar {
  box-sizing: border-box;
  top: 0;
  height: 150px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;

  vertical-align: middle;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

#nav-bar__title {
  position: relative;
  text-decoration: none !important;
  text-align: center;
  white-space: nowrap;
  float: left;
  max-height: 55px;
  cursor: pointer;
  display: flex;
}

#nav-bar__title__logo {
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  width: 35px;
  transform: rotate(0deg);
  vertical-align: middle;
  z-index: 2;
  filter: invert(10%) sepia(0%) saturate(0%) hue-rotate(28deg) brightness(100%) contrast(87%);
}

#nav-bar__title__text {
  height: 44px;
  width: 135px;
  vertical-align: middle;
  opacity: 72%;
  padding-left: 20px;
}

.nav-bar__helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 80%;
}

.nav-bar__tab-bar--content {
  -webkit-animation: nav-bar__tab-bar--content--fade 1s;
  animation: nav-bar__tab-bar--content--fade 1s;
}

/* Go from zero to full opacity */
@keyframes nav-bar__tab-bar--content--fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* While this is in the navbar file, it's applies globally to all tooltips */
#nav-bar__tooltip {
  position: fixed;
  background: var(--gray-f2);
  font-size: 15px;
  border-radius: 6px;
  padding: 5px 5px;
  color: var(--white-text);
  font-family: "Mulish Alternates", sans-serif;
  font-weight: 300;
  opacity: 0.85;
  z-index: 13;
}

/* Search styles */

#nav-bar__games,
#nav-bar__search {
  position: relative;
  height: 44px;
  overflow: visible;
  z-index: 120;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 22px;
  margin-right: 2%;

  float: right;
  vertical-align: middle;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  min-width: 280px;
  width: 400px;
  max-width: 400px;
}

/* override to hug right nav-bar limit */

#nav-bar__games {
  margin-right: 0%;
}

#nav-bar__searchbox {
  cursor: default;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
  overflow: clip;
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  background-color: var(--gray-f1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  z-index: 7;
  min-width: 280px;
  width: 400px;
  max-width: 400px;
  top: -3px;
  right: -3px;
  opacity: 1;
  margin-right: 10px;
  /*transition:opacity 0.35s ease-out;
  -webkit-transition:w 0.35s ease-out;
  -moz-transition:w 0.35s ease-out;
  -ms-transition:w 0.35s ease-out;
  -o-transition:w 0.35s ease-out;
  */
  filter: drop-shadow(0 6px 6px var(--black-f1));
  -webkit-filter: drop-shadow(0 6px 6px var(--black-f1));

  scrollbar-color: var(--gray-f2) var(--gray-bg);
  scrollbar-width: thin;
  overflow-y: scroll;
  max-height: 420px;

  padding-top: 1px;
  padding-bottom: 1px;
}

.nav-bar__search--results--games {
  vertical-align: middle;
  padding-right: 10px;
  font-size: 22px;
}

.nav-bar__search--results--tech {
  vertical-align: middle;
  padding-right: 10px;
  font-size: 22px;
}

#nav-bar__search--icon {
  position: absolute;
  left: 6px;
  top: 6px;
  font-size: 34px;
  opacity: 50%;
  cursor: default;
}

#nav-bar__games--icon {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 2px;
  outline-color: var(--white-f2);
  outline-style: solid;
  outline-width: 1px;
  font-size: 26px;
  opacity: 70%;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

#nav-bar__games--icon:hover {
  opacity: 80%;
  background-color: var(--gray-f2);
}

#nav-bar__gamesbox {
  /*Minphonewidthis320px.ThisJUSTfitsonthepage.*/
  width: 300px;
  cursor: default;
  position: absolute;
  overflow-x: hidden;
  display: block;
  background-color: var(--gray-f1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  z-index: 22;
  top: -3px;
  right: -3px;
  opacity: 0;
  -webkit-filter: drop-shadow(0 6px 6px var(--black-f1));
  filter: drop-shadow(0 6px 6px var(--black-f1));
}
/* Use flex-shink: 0 if parent is a flex */
.nav-bar__games--wrapper {
  margin: 8px;
  cursor: pointer;
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  height: 65px;
}

.nav-bar__games--wrapper figcaption {
  font-family: "Mulish", sans-serif;
  position: relative;
  color: var(--white-f1);
  font-weight: 300;
  font-size: 12px;
  text-align: middle;

  text-decoration: none;
}

.nav-bar__games--wrapper:hover {
  background-color: var(--gray-f2);
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}

#nav-bar__gamesbox img {
  border: 1px solid var(--white-f2);
  width: 44px;
  height: 44px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  opacity: 80%;
  -webkit-filter: blur(0.4px) contrast(110%);
  filter: blur(0.4px) contrast(110%);
}

#nav-bar__searchbox.fadein {
  -webkit-animation: fadein-show 0.15s 1 linear forwards;
  animation: fadein-show 0.15s 1 linear forwards;
}

#nav-bar__searchbox.fadeout {
  -webkit-animation: fadeout-hide 0.15s 1 linear forwards;
  animation: fadeout-hide 0.15s 1 linear forwards;
}

#nav-bar__gamesbox.fadein {
  -webkit-animation: fadein-show 0.15s 1 linear forwards;
  animation: fadein-show 0.15s 1 linear forwards;
}

#nav-bar__gamesbox.fadeout {
  -webkit-animation: fadeout-hide 0.15s 1 linear forwards;
  animation: fadeout-hide 0.15s 1 linear forwards;
}

.logo-fadein {
  -webkit-animation: logo-fadein 0.15s 1 ease-out forwards;
  animation: logo-fadein 0.15s 1 ease-out forwards;
}

.logo-fadeout {
  -webkit-animation: logo-fadeout 0.15s 1 ease-in forwards;
  animation: logo-fadeout 0.15s 1 ease-in forwards;
}

@keyframes fadein-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    width: 0;
  }
}

@keyframes logo-fadein {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes logo-fadeout {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0.6;
  }
}

#nav-bar__search--input {
  border: none !important;
  border-width: 0px;
  height: 44px;
  min-height: 44px;
  padding-left: 50px;
  text-overflow: ellipsis;
  background-color: var(--gray-f1);
  width: 70%;
  vertical-align: middle;
  outline: none;
  font-family: "Mulish", sans-serif;
  color: var(--white-text);
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.03em;
  opacity: 90%;
}

input[type="submit"]::-moz-focus-inner {
  border: 0;
}

#nav-bar__search--input::-moz-focus-inner {
  border: 0;
}

#nav-bar__search--hr,
#nav-bar__games--hr2D,
#nav-bar__games--hr3D {
  border: none;
  border-top-width: medium;
  border-top-style: none;
  border-top-color: currentcolor;
  border-top: 1px double var(--white-text);
  color: var(--white-text);
  text-align: center;
  width: 90%;
  opacity: 50%;
  height: auto;
  cursor: default;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#nav-bar__search .button__redirect,
#nav-bar__search--results {
  font-family: "Dosis", sans-serif;
  position: relative;
  color: var(--white-text);
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.03em;
  background: var(--gray-f1);
  padding-left: 20px;
  text-align: left;

  cursor: pointer;
  padding: 10px 20px;
  text-decoration: none;
  display: none;

  /* the golden duo for text limitation */
  text-overflow: ellipsis;
  overflow: clip;
}

.nav-bar__search--image {
  height: 60px;
  aspect-ratio: 1/1;
}

.nav-bar__games--divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: default;
}
